#dropdown-basic{
    color: rgb(231,137,110);
    border: 1px solid rgb(231,137,110);
    background-color:  white;
}

#dropdown-basic:hover{
    color: white;
    background-color: rgb(231,137,110);
    border: 1px solid rgb(231,137,110);
}