.page-item *{
    color: black!important;
}
.page-item.active{
    background-color: #000!important;
    color: white!important;
}

@media screen and (max-width: 768px) {
    .page-item a{
        font-size: 6px!important;
        padding: 5px!important;
    }
    
}