#logo{
    width: 200px;
}


span.navbar-text:not(:first-child){
    margin: 0 20px;
}

span.navbar-text:hover{
    color: #ccc8c8;
    cursor: pointer;
}

button.light{
    background-color: #fff;
    border: none;
    outline: none;
    color: #000;
    cursor: pointer;
}

.modeState{
    cursor: pointer;
    position: relative;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 5px #000;
}

@keyframes pop{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.modeState svg{
    position: absolute;
    top: 30%;
    left: 32%;
    
    
    animation: pop 0.5s forwards;
}

nav{
    transition: all 0.3s ease-in-out;
    height: 150px;
    background-color: #000;
}
nav.isScroll{
    height: 70px;
    background-color: white;
}
