#dropdown-basic.light{
    background-color: #fff;
    border: none;
    outline: none;
    color: #000;
    cursor: pointer;
}

#dropdown-basic.dark{
    background-color: #000;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

#dropdown-basic{
    z-index: 1000;
    padding: 10px 50px;
    border-radius: 25px;
}

#books{
    padding: 10px 20px;
    --bs-dropdown-link-active-bg: black!important;
    text-align: center;
    overflow: visible!important;
}

.dropdown-item{
    padding: 10px 20px;
    --bs-dropdown-link-active-bg: black!important;
    text-align: center;
}

