.form-control{
    border-radius: 10px!important;
}


.form-control.light:focus{
    border-radius: 10px!important;
    padding: 10px!important;
    margin-left: 10px!important;
    border-color: #000;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.25);
    transition: all 0.3s ease-in-out;
}

.form-control.dark:focus{
    border-radius: 10px!important;
    margin-left: 10px!important;
    padding: 10px!important;
    border-color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.25);
    transition: all 0.3s ease-in-out;
}